.grid__item {
  padding-top: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top:   0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 10rem;
  background-color: var(--clr-lightdark);
  border-radius: 0.2rem;
}

.item__img {
  height: 8rem;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.item__brand {
  font-size: var(--size-sm);
}

.item__name {
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate);
}

.item__price {
  font-size: var(--size-sm);
  padding-bottom: 1.5rem;
}

.item__link {
  visibility: hidden;
  text-align: center;
  position: absolute;
  padding-top: 0.2rem;
  background: var(--clr-lime);
  height: 2rem;
  width: 5rem;
  transform: translate(47%, -340%);
  transition: transform 0.3s ease;
}

.grid__item:hover .item__link {
  visibility: visible;
  transform: translate(47%, -400%);
}

.item__link:hover {
  background: var(--clr-lime600);
}

.link__products {
  height: 2rem;
  width: 5rem;
  display: inline-block;
  color: var(--clr-dark);
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  text-decoration: none;
  cursor: pointer;
}

.item__img-main {
  height: 14rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.product__selection {
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__brand,
.product__price {
  color: var(--clr-slate);
  font-family: var(--font-secondary);
  font-size: var(--size-base);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .grid__item {
    width: 10.5rem;
  }

  .item__img {
    height: 9rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */