.Login {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Login__wrapper1 {
  display: flex;
  place-items: center;
  background-color: var(--clr-lime);
  border-radius: 5px;
  padding: 0.5rem;
  height: 31.25rem;
}

.Login__wrapper2 {
  display: flex;
  background: var(--clr-lightdark);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.Login__logo {
  width: 3rem;
  height: 3rem; 
  margin-bottom: 0.5rem;
}

.Login__title {
  font-family: var(--font-secondary);
  font-size: var(--size-xl);
  color: var(--clr-slate);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Login__form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.Login__form-textarea {
  border: 1px solid var(--clr-slate300);
  border-radius: 4px;
  padding: 0.625rem;
  height: 1rem;
  width: 9.38rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-secondary);
  font-size: var(--size-xxs);
  font-weight: 300;
}

.Login__description {
  margin-top: 1rem;
  font-family: var(--font-secondary);
  font-size: var(--size-xxs);
  font-family: 500;
  color: var(--clr-neutral);
}

.errors {
  background-color: var(--clr-lightdark);
  color: var(--clr-slate);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .Login__wrapper1 {
    height: 31.875rem;
    width: 25rem;
  }
  
  .Login__wrapper2 {
    height: 30.625rem;
    width: 23.75rem;
  }
  
  .Login__title {
    font-size: var(--size-2xl);
  }
  
  .Login__form-textarea {
    width: 11.25rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .Login__wrapper1 {
    height: 32.5rem;
    width: 25.625rem;
  }
  
  .Login__wrapper2 {
    height: 31.25rem;
    width: 24.375rem;
  }
  
  .Login__logo {
    width: 3.5rem;
    height: 3.5rem; 
  }
  
  .Login__title {
    font-size: var(--size-3xl);
  }
  
  .Login__form-textarea {
    width: 13.75rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .Login__wrapper1 {
    height: 33.125rem;
    width: 26.25rem;
  }
  
  .Login__wrapper2 {
    height: 31.875rem;
    width: 25rem;
  }
  
  .Login__logo {
    width: 3.5rem;
    height: 3.5rem; 
  }
  
  .Login__title {
    font-size: var(--size-4xl);
  }
  
  .Login__form-textarea {
    padding: 0.813rem;
    width: 16.25rem;
    font-size: var(--size-xs);
  }
  
  .Login__description {
    font-size: var(--size-xs);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */