.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.landing__logo {
  width: 3rem;
  height: 3rem; 
  margin-bottom: 1rem;
}

.landing__hero {
  font-size: var(--size-2xl);
  margin-bottom: 1rem;
}

.landing__title {
  font-size: var(--size-xl);
  margin-bottom: 1rem;
}

.landing__product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.img__wrapper {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
  padding: 1rem;
  background-color: var(--clr-lightdark);
}

.landing__product-pic,
.landing__product-pic1 {
  height: 10rem;
}

.landing__subtitle {
  font-size: var(--size-sm);
}

.landing__description {
  padding-bottom: 1rem;
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate);
}

.choose__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.img {
  place-items: center;
}

.landing__choose-pic {
  width: 22.5rem;
  border-radius: 0.5rem;
}

.landing__customer-wrapper {
  background-color: var(--clr-lightdark);
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 12rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.langing__svg{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--size-4xl);
}
.landing__customer-header {
  margin-bottom: 0.5rem;
  font-size: var(--size-2xl);
}

.landing__getstart {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.landing__footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.landing__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  font-size: var(--size-2xl);
  color: var(--clr-lime600);
  gap: 1rem;
}

.landing__footer-text {
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate300);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .landing__logo {
    width: 3.2rem;
    height: 3.2rem; 
  }
  
  .landing__hero {
    font-size: var(--size-3xl);
    margin-bottom: 1rem;
  }

  .landing__title {
    font-size: var(--size-2xl);
  }

  .landing__product-wrapper {
    display: grid;
    grid-template-columns: 34% 34%;
    grid-template-areas: 
    'img1 img2'
    'img3 img2'
    'img3 img4';
    place-items: center;
  }

  .img1 {
    grid-area: img1;
  }
  .img2 {
    height: 15rem;
    grid-area: img2;
  }
  .img3 {
    height: 15rem;
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }

  .landing__choose-pic {
    width: 25rem;
  }

  .landing__subtitle {
    font-size: var(--size-base);
  }
  
  .landing__description {
    font-size: var(--size-sm);
  }
}

/* md */
@media (min-width: 768px) {
  .landing__logo {
    width: 3.5rem;
    height: 3.5rem; 
  }

  .landing__hero {
    font-size: var(--size-4xl);
    margin-bottom: 1rem;
  }

  .landing__product-wrapper {
    grid-template-columns: 28% 28%;
  }

  .img2 {
    height: 15rem;
  }

  .img3 {
    height: 15rem;
  }

  .landing__customer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .landing__product-wrapper {
    grid-template-columns: 25% 25%;
  }

  .img2 {
    height: 20rem;
  }

  .img3 {
    height: 20rem;
  }
  
  .img__wrapper{
    width: 15rem;
  }

  .landing__product-pic {
    height: 14rem;
  }

  .landing__product-pic1{
    transform: rotate(70deg);
    height: 12rem;
  }

  .landing__choose{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'title title'
    'subtitle img';
  }

  .subtitle {
    padding: 0.5rem;
    grid-area: subtitle;
  }

  .img {
    grid-area: img;
  }

  .landing__choose-pic {
    width: 28rem;
  }

  .landing__subtitle {
    font-size: var(--size-lg);
  }
  
  .landing__description {
    font-size: var(--size-base);
  }

  .landing__customer {
    grid-template-columns: 30% 30% 30%;
    place-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .landing__customer-wrapper{
    height: 18rem;
    width: 14rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .landing__logo {
    width: 3.8rem;
    height: 3.8rem; 
  }

  .landing__hero {
    font-size: var(--size-5xl);
    margin-bottom: 1rem;
  }

  .landing__title {
    font-size: var(--size-3xl);
  }

  .landing__product-wrapper {
    grid-template-columns: 24% 24%;
  }

  .img2 {
    height: 23rem;
  }

  .img3 {
    height: 23rem;
  }

  .img__wrapper{
    width: 18rem;
  }

  .landing__product-pic {
    height: 18rem;
  }

  .landing__product-pic1{
    height: 16rem;
  }

  .landing__choose-pic {
    width: 34rem;
  }

  .landing__subtitle {
    font-size: var(--size-lg);
  }
  
  .landing__description {
    font-size: var(--size-base);
  }

  .landing__customer {
    grid-template-columns: 25% 25% 25%;
  }

  .landing__customer-wrapper{
    height: 20rem;
    width: 14rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .landing__product-wrapper {
    grid-template-columns: 20% 20%;
  }

  .landing__choose-pic {
    width: 38rem;
  }

  .landing__customer {
    grid-template-columns: 21% 21% 21%;
  }

  .landing__customer-wrapper{
    height: 20rem;
    width: 14rem;
  }
}