
.back__btn {
  margin-top: 2rem;
}

.product__selection {
  outline: 1px solid red;
  display: grid;
  grid-template-columns: auto;
}

.product__main-img {
  margin-top: 3rem;
  user-select: none;
  -webkit-user-select: none;
}

.swiper__con {
  height: 100%;
  padding-bottom: 2rem;
}

.product__description-con {
  text-align: center;
}

.selections__con {
  display: grid;
  grid-template-columns: auto 30%;
  gap: 0.5rem;
  grid-template-areas:
  'select input'
}

.select {
  grid-area: select;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  border: none;
  outline: none;
  cursor: pointer;
}

.input {
  grid-area: input;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  border: none;
  outline: none;
}

.selections {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: var(--size-xs);
}

.qty_con {
  position: relative;
}

.adjust_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 0;
  border: 1px solid var(--clr-lime);
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: var(--clr-lime);
}

.adjust_btn:hover {
  background-color: var(--clr-lime);
  color: var(--clr-dark);

}

.minus_btn {
  left: 0;
}

.plus_btn {
  right: 0;
}

.selection-header {
  padding-bottom: 0.2rem;
}

.product__name {
  position: relative;
  font-size: var(--size-2xl);
}

.product__details {
  margin-top: 2rem;
  color: var(--clr-slate);
  font-family: var(--font-secondary);
}

.product__info {
  padding-top: 0.5rem;
  font-size: var(--size-xs);
}

.other__products {
  margin-bottom: 4rem;
}

.grid__products {
  display: grid;
  grid-template-columns: 1fr;
}

.products__con {
  text-align: center;
}

