
.back__btn {
  margin-top: 2rem;
}

.product__main-img {
  margin-top: 4rem;
  user-select: none;
  -webkit-user-select: none;
}

.swiper__con {
  height: 100%;
  padding-bottom: 2rem;
}

.swiper__products-con {
  outline: 1px solid red;
}

.selections {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: var(--size-xs);
}

.selection-header {
  padding-bottom: 0.2rem;
}

.product__selection {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 0.5rem;
  grid-template-areas: 
  'select input'
  'added added';
}

.select {
  grid-area: select;
}

.input {
  grid-area: input;
}

.rbtn {
  grid-area: added;
}

.product__name {
  position: relative;
  font-size: var(--size-2xl);
}

.product__details {
  margin-top: 2rem;
  color: var(--clr-slate);
  font-family: var(--font-secondary);
}

.product__info {
  padding-top: 1rem;
  font-size: var(--size-sm);
}

.other__products {
  margin-bottom: 4rem;
}

.grid__products {
  display: grid;
  grid-template-columns: 1fr;
}

.products__con {
  text-align: center;
}

