
.product__main-img {
  margin-top: 2rem;
  user-select: none;
  -webkit-user-select: none;
}

.item__img-main {
  height: 13rem;
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.swiper__con {
  height: 9rem;
}

.item__img-small {
  height: 5rem;
  width: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.product__description-con {
  text-align: center;
}

.product__brand,
.product__price {
  color: var(--clr-slate);
}