.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  display: flex;
  align-items: center;
  font-size: var(--size-3xl);
  height: 53.13rem;
}


.shop {
  display: grid;
  text-align: center;
}


.shop__wrapper {
  margin-bottom: 3rem;
  gap: 10px;
}

.shop__con-wrapper {
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.shop__title {
  font-size: var(--size-base);
  margin-bottom: 0.5rem;
}

.shop__description {
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate);
}

.header__shop{
  display: none;
}

.contact {
  display: grid;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.contact__title {
  font-size: var(--size-xs);
  color: var(--clr-slime600);
}

.contact__link {
  padding: 0.6rem;
  font-size: var(--size-xs);
  color: var(--clr-slate300);
  text-decoration: none;
}

.contact__link:hover {
  color: var(--clr-slime600);
}

.footer {
  text-align: center;
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate300);
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .hero__title {
    font-size: var(--size-4xl);
  }

  .shop__title {
    font-size: var(--size-base);
  }
  
  .shop__description {
    font-size: var(--size-xs);
  }

  .contact__title {
    font-size: var(--size-xs);
  }
  
  .contact__link {
    font-size: var(--size-xs);
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__title {
    font-size: var(--size-5xl);
  }

  .shop__title {
    font-size: var(--size-lg);
  }
  
  .shop__description {
    font-size: var(--size-sm);
  }

  .shop__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-template-areas: 
    'content1 image1';
    margin-bottom: 2rem;
  }

  .shop__image1 {
    grid-area: image1;
  }

  .shop__content1 {
    grid-area: content1;
  }

  .contact {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* md */
@media (min-width: 768px) {
  .header__shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.9rem;
  }
  
  .shop__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    gap: 1.25rem;
  }
  
  .line {
    border: 1px solid var(--clr-slate);
    border-radius: 1rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__title {
    font-size: var(--size-6xl);
    height: 49.38rem;
  }

  .shop__title {
    font-size: var(--size-xl);
  }
  
  .shop__description {
    font-size: var(--size-base);
  }

  .contact__wrapper {
    margin-top: 3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__title {
    font-size: var(--size-7xl);
  }

  .shop__title {
    font-size: var(--size-2xl);
  }
  
  .shop__description {
    font-size: var(--size-lg);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */