.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  display: flex;
  align-items: center;
  font-size: var(--size-3xl);
  height: 53.13rem;
}

.grid__item {
  padding-top: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 10rem;
  background-color: var(--clr-lightdark);
  border-radius: 0.2rem;
}

.header__shop{
  display: none;
}

.contact {
  display: grid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact__title {
  font-size: var(--size-xs);
  color: var(--clr-slime600);
}

.contact__link {
  padding: 0.6rem;
  font-size: var(--size-xs);
  color: var(--clr-slate300);
  text-decoration: none;
}

.contact__link:hover {
  color: var(--clr-slime600);
}

.footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  font-size: var(--size-2xl);
  color: var(--clr-lime600);
  gap: 1rem;
}

.footer__text {
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate300);
}

/* xs */
@media (min-width: 475px) {
  .hero__title {
    font-size: var(--size-4xl);
  }

  .contact__title {
    font-size: var(--size-xs);
  }
  
  .contact__link {
    font-size: var(--size-xs);
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__title {
    font-size: var(--size-5xl);
  }

  .contact {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid__item {
    width: 10.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .header__shop {
    display: flex;
    /* padding-top: 1.5rem; */
    flex-direction: column;
    justify-content: center;
    gap: 0.9rem;
  }
  
  .shop__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 1.25rem;
  }
  
  .line {
    border: 1px solid var(--clr-slate);
    border-radius: 1rem;
  }

  .grid__item {
    width: 11rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__title {
    font-size: var(--size-6xl);
    height: 49.38rem;
  }

  .contact__wrapper {
    margin-top: 3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__title {
    font-size: var(--size-7xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */