.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  display: flex;
  align-items: center;
  font-size: var(--size-3xl);
  height: 53.13rem;
}

.brands {
  margin-top: 6rem;
}

.brands__con {
  display: flex;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.products__con {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 16rem;
  background-color: var(--clr-lightdark);
  text-align: center;
}

.shop__header {
  font-size: var(--size-xl);
  color: var(--clr-slate);
  margin-bottom: 0.3rem;
}

.juice__con {
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.juice_pic {
  height: 12rem;
  transform: rotate(15deg);
  transition: all 0.5s;
}

.products__con:hover .juice_pic {
  transform: rotate(20deg);
}

.swiper__dashboard-con {
  height: 100%;
}

.contact {
  display: grid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.contact__title {
  font-size: var(--size-xs);
  color: var(--clr-slime600);
}

.contact__link {
  padding: 0.6rem;
  font-size: var(--size-xs);
  color: var(--clr-slate300);
  text-decoration: none;
}

.contact__link:hover {
  color: var(--clr-slime600);
}

.footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  font-size: var(--size-2xl);
  color: var(--clr-lime600);
  gap: 1rem;
}

.footer__text {
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  color: var(--clr-slate300);
}

/* xs */
@media (min-width: 475px) {
  .hero__title {
    font-size: var(--size-4xl);
  }

  .contact__title {
    font-size: var(--size-xs);
  }
  
  .contact__link {
    font-size: var(--size-xs);
  }

  .products__con {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__title {
    font-size: var(--size-5xl);
  }

  .contact {
    grid-template-columns: repeat(3, 1fr);
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .products__con {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .juice__con {
    height: 14.5rem;
  }

  .juice_pic {
    height: 12.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .shop__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 1.25rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__title {
    font-size: var(--size-6xl);
    height: 49.38rem;
  }

  .contact__wrapper {
    margin-top: 3rem;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* xl */
@media (min-width: 1280px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }

  .shop__header {
    font-size: var(--size-2xl);
  }

  .products__con {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .juice__con {
    height: 15rem;
  }

  .juice_pic {
    height: 13rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}