
.rbtn {
  display: inline-block;
  font-family: var(--font-secondary);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: transparent;
  color: var(--clr-lime);
  padding: 0.5em 1em;
  border: 1px solid var(--clr-lime);
  border-radius: 6px;
  transition: background-color 0.3s;
}

.rbtn:hover {
  background-color: var(--clr-lime);
  color: var(--clr-dark);
}
