.mobile__wrapper {
  position: fixed;
  display: grid;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-dark);
  z-index: 999;
}

.mobile__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.mobile__link {
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  font-weight: 600;
  transition: 0.3s ease;
  color: var(--clr-slate);
}

.mobile__link:hover {
  color: var(--clr-lime);
  border-bottom: 1px solid var(--clr-lime);
}

.mobile__link-line {
  border: 1px solid var(--clr-slate300);
  padding-right: 7rem;
}

.mobile__login {
  font-size: var(--size-sm);
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.navbar__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'btnTwo logOne';
}

.btnTwo {
  grid-area: btnTwo;
}
.logOne {
  grid-area: logOne;
}

.navbar__upper {
  display: flex;
  justify-content: space-between;
}

.upper__btn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1rem;
}

.header__logo {
  width: 3rem;
  height: 3rem; 
}

.header__menu {
  display: none;
}

.header__btns {
  display: none;
}

.header__bars {
  color: var(--clr-lime);
  font-size: var(--size-xl);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .navbar__grid {
    display: flex;
    flex-direction: column;
  }

  .navbar__upper {
    margin-bottom: 1.5rem;
  }

  .mobile__wrapper {
    display: none;
  }

  .header__logo {
    width: 3.5rem;
    height: 3.5rem;
  }

  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1rem;
  }

  .header__btns {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: .5rem;
  }
  
  .header__link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: var(--font-secondary);
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    color: var(--clr-slate);
  }
  
  .header__link:hover {
    color: var(--clr-lime);
    border-bottom: 1px solid var(--clr-lime);
  }
  
  .header__login {
    font-size: var(--size-xs);
  }
  
  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__logo {
    width: 3.8rem;
    height: 3.8rem;
  }

  .header__link {
    font-size: var(--size-sm);
  }

  .header__login {
    font-size: var(--size-sm);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__logo {
    width: 4rem;
    height: 4rem;
  }

  .header__login {
    font-size: var(--size-base);
  }
}

/* 2xl */
@media (min-width: 1536px) {}
