
.back__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn__con {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
}

.cartBtn {
  font-size: var(--size-xl);
  color: var(--clr-lime);
}

.cartBtn:hover {
  color: var(--clr-lime600);
}

.cartBtn:active {
  color: var(--clr-lime);
}

.product__main-img {
  margin-top: 5rem;
  -webkit-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: auto;
}

.swiper__con {
  height: 100%;
  padding-bottom: 2rem;
}

.product__description-con {
  padding-top: 1.5rem;
  text-align: center;
}

.selections__con {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
  'wishlist';
}

.wishlist .rbtn {
  width: 100%;
  margin-top: 1.35rem;
}

.wishlist .lbtn {
  width: 100%;
  margin-top: 1.35rem;
}

.wishlist .bbtn {
  width: 100%;
  margin-top: 0.5rem;
  place-content: center;
}

.input {
  grid-area: input;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  border: none;
  border-radius: 2rem;
  outline: none;
}

.selections {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-xs);
  gap: 0.3rem;
}

.item__img-main {
  height: 14rem;
  margin-left: auto;
  margin-right: auto;
}

.product__description-con {
  text-align: center;
}

.product__brand,
.product__price {
  color: var(--clr-slate);
  font-family: var(--font-secondary);
  font-size: var(--size-base);
}

.product__name {
  position: relative;
  font-size: var(--size-2xl);
}

.product__details {
  margin-top: 1rem;
  color: var(--clr-slate);
  font-family: var(--font-secondary);
}

.product__info {
  margin-top: 0.5rem;
  padding-left: 2rem;
  font-size: var(--size-sm);
}

.product__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.other__products {
  margin-bottom: 4rem;
}

.grid__products {
  display: grid;
  grid-template-columns: 1fr;
}

.products__con {
  text-align: center;
}

.success {
  background-color: var(--clr-lightdark);
  text-align: center;
  color: var(--clr-slate);
  font-family: var(--font-secondary);
}

.btDashboard {
  margin-top: 2rem;
}

.bdash_con {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* xs */
@media (min-width: 475px) {
  .product__header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .wishlist .rbtn {
    margin-top: 1.4rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .product__main-img {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'image desc'
    'image sec'
    'image added'
    'image details';
  }

  .img__con {
    grid-area: image;
    place-self: center;
  }

  .product__description-con {
    grid-area: desc;
  }

  .selections__con {
    grid-area: sec;
    margin-top: 1.5rem;
  }

  .lbtn {
    grid-area: added;
  }

  .product__details {
    grid-area: details;
  }

  .selections {
    font-size: var(--size-sm);
  }

  .wishlist .rbtn {
    margin-top: 1.5rem;
  }

  .grid__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* md */
@media (min-width: 768px) {
  .back__btn {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .product__main-img {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .item__img-main {
    height: 14.5rem;
  }

  .product__brand,
  .product__price {
    font-size: var(--size-lg);
  }

  .product__name {
    position: relative;
    font-size: var(--size-3xl);
  }

  .wishlist .rbtn {
    grid-area: wishlist;
    width: 100%;
    margin-top: 1.5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .back__btn {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .product__main-img {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .product__header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .selections__con {
    margin-top: 2rem;
  }

  .selections {
    font-size: var(--size-base);
  }

  .wishlist .rbtn {
    grid-area: wishlist;
    margin-top: 1.65rem;
  }

  .grid__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* xl */
@media (min-width: 1280px) {
  .back__btn {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .product__main-img {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .item__img-main {
    height: 15rem;
  }

  .grid__products {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .back__btn {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .product__main-img {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

